{% extends 'main.html' %}

{% block content %}
    <div class="container mb-5">
        <h2 class="p-3 border-bottom">Update Password</h2>
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <form method="POST" class="form-floating">
            {% csrf_token %}
            <div class="row mb-5">
                <div class="col">
                    <label for="inputPassword5" class="form-label">Password</label>
                    <input type="password" id="inputPassword5" name="password" class="form-control"
                           aria-describedby="passwordHelpBlock">

                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                    spaces,
                    special characters, or emoji.
                </div>
                <div class="col">
                    <label for="inputPassword5" class="form-label">Password Confirmation</label>
                    <input type="password" id="inputPassword5" name="password_confirmation" class="form-control"
                           aria-describedby="passwordHelpBlock">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}