{% extends 'main.html' %}

{% block content %}
    {% if page == "register" %}
        <h1>Register Page</h1>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Register">
        </form>
        <p>Already have an account <a href="{% url 'login' %}">Login</a></p>
    {% else %}
        <h1>Login Page</h1>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div>
                <label for="email_input">Email</label>
                <input type="email" name="email" id="email_input">
            </div>
            <div>
                <label for="password_input">Password</label>
                <input type="password" name="password" id="password_input">
            </div>
            <input type="submit" value="Login">
        </form>
        <p>Don't have an account <a href="{% url 'register' %}">Register</a></p>
    {% endif %}
{% endblock content %}