{% extends 'main.html' %}

{% block content %}
    <div class="container mb-5">
        <h2 class="p-3 border-bottom">Update My Account</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}

                <div class="mb-3">
                    {{ field.errors }}
                    {{ field.label_tag }}<br/>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock content %}