{% extends 'main.html' %}

{% block content %}
    <h1>{{ event.name }}</h1>
    <a href="{% url 'event_confirmation' event.id %}">Register</a>
    <a href="{% url 'submission_project' event.id %}">Submit Project</a>
    <p>{{ event.description }}</p>

    <section>
        <div>
            <h1>Users</h1>
            <div id="users--lists">
                {% for user in participants %}
                    <a href="{% url 'user_details' user.id %}">
                        <div>{{ user.name }}</div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}